* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Georgia, sans-serif; */
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Teko', sans-serif; */
  font-size: 62.5%;
  background-color: lightgrey;
}
#calculator {
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 1fr 3fr); */
  /* grid-auto-rows: 100px;  -the height*/
  /* grid-auto-rows: minmax(100px, auto); --100px default or auto if bigger */
  grid-template-rows: auto;
  grid-template-areas:
    'header header battery battery'
    'screen screen screen screen'
    'clear equals equals equals'
    'seven eight nine divide'
    'four five six multiply'
    'one two three minus'
    'plusminus zero dot plus';

  width: 200px;

  margin: 0 auto;
  margin-top: 20px;

  gap: 2px;

  padding: 10px;
  background-color: rgb(70, 70, 70);
  background-color: rgb(90, 90, 90);
  box-shadow: 1px 1px 0 black;
  border-radius: 3px;

  font-size: 2.4em;
}
#calculator > div {
  display: flex;
}
#battery {
  grid-area: battery;
  /* border: 1px solid red; */
  /* background-color: hsl(3, 28%, 16%); */
  background: linear-gradient(100deg, hsl(3, 28%, 16%), hsl(3, 28%, 30%));
  border-radius: 2px;
  border-right: 1px solid hsl(250, 5%, 60%);
  border-bottom: 1px solid hsl(250, 5%, 60%);
  border-left: 2px solid hsl(250, 5%, 15%);
  border-top: 2px solid hsl(250, 5%, 15%);
}

#equals {
  grid-area: equals;
}
#header {
  grid-area: header;
  box-shadow: none;
  /* border: 1px solid orange; */
  /* height: 0.5rem; */

  font-family: 'Teko', sans-serif;
  /* font-family: sans-serif; */
  font-size: 0.5em;

  /* display: flexbox;
  align-items: center;
  justify-items: center;
  align-content: flex-end; */

  /* height: 100px;
  margin-top: -5px; */

  color: rgb(215, 215, 215);
  text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}
h1 {
  /* border: 1px solid red; */
  margin-top: -6px;
  margin-bottom: -8px;
  /* position: absolute; */
}
#screen {
  grid-area: screen;
  background-color: #9daa73;
  margin: 10px 0;
  padding: 0 0.4rem;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  /* align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end; */

  border-radius: 1px;
  border-right: 1px solid hsl(250, 5%, 80%); /*#d7e7d7*/
  border-bottom: 1px solid hsl(250, 5%, 80%);
  border-left: 1px solid hsl(250, 5%, 15%);
  border-top: 1px solid hsl(250, 5%, 15%);
}
#clear {
  grid-area: clear;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#dot {
  grid-area: dot;
}
#plusminus {
  grid-area: plusminus;
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}

.btn {
  justify-content: center;
  align-items: center;
  background-color: yellow;
  /* padding: 1em; */
  border-radius: 3px;
  /* box-shadow: -1px -1px 0px hsl(257, 6%, 55%), 1px 1px 0px black; */
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 30%), 1px 1px 0px black;
}
.btn:active {
  box-shadow: none;
}
.btn:hover {
}
.clear-btn {
  background-color: rgb(91, 173, 255);
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 60%), 1px 1px 0px black;
}
.numbers {
  background-color: #3e3c43; /*hsl(257,6%,25%)*/
  color: white;
}
.operator {
  background-color: #d7d7d7;
  color: black;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 85%), 1px 1px 0px black;
}
.other-btns {
  /* background-color: rgb(41, 123, 229); */
  background-color: hsl(257, 6%, 40%); /*279*/
  color: white;
}

@media screen and (min-width: 350px) and (min-height: 325px) and (orientation: landscape) {
  body {
    background-color: red;
  }
  #calculator {
    /* width: 300px;
    height: 350px; */
    width: 80vh;
    height: 80vh;
  }
  #header {
    /* font-size: 0.8em; */
    font-size: 5vh;
    /* font-family: monospace; */
  }
  #screen {
    font-size: 1.4em;
  }
  #battery {
    height: 10vh;
  }
}
/* larger than 350px */
@media screen and (min-width: 350px) and (orientation: portrait) {
  body {
    background-color: blue;
  }
  #calculator {
    /* width: 300px;
    height: 350px; */
    width: 80vw;
    height: 80vw;
  }
  #header {
    /* font-size: 0.8em; */
    font-size: 5vw;
  }
  #screen {
    font-size: 1.4em;
  }
  #battery {
    height: 10vw;
  }
}
